body {

}

#container {
  width:960px;
  margin:0 auto;
}

h1 {
  text-align:center;
  font-size:40px;
  margin-bottom:30px;
  font-family:'Tahoma';
  letter-spacing:-2px;
  text-transform:uppercase;
}

#main .description {
  margin:20px 0 50px 0;
}

#main .mood {
  margin:0 auto;
  text-align:center;
}

#main .mood h3 {
  font-size:28px;
  font-weight:bold;
  margin-bottom:10px;
}

#main .interests {
  margin-top:40px;
  padding:0px 200px;
}